<!DOCTYPE html>
<html>
<head>
	<title>Resume Screening</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName +  '" has been selected.');
        });
    });
</script>
</head>
<body>
	<div id="image">
		<div id="brandname">
			Resume Screening Web-App
		</div>
	</div>
	<div class="ml-container">
		<form action="{{ url_for('predict')}}" method="POST">
			<p id="heading">Upload Resume Here</p>
			<div class="upload-btn-wrapper">
				<button id="btn">Upload a file</button>
				<input type="file" name="myfile" id="file-upload" />
			  </div>
			  <div class="upload-btn-wrapper">
				<button id="btn">Submit</button>
			  </div>
		</form>	
	</div>
</body>
</html>


